Package: jp.ashikase.lastapp
Name: LastApp
Version: 1:1.4.0
Architecture: iphoneos-arm
Description: Quickly switch to previous application.
Homepage: http://github.com/ashikase/LastApp
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=lastappData
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: Lance Fetters (ashikase) <support@ashikase.com>
Section: System
Depends: firmware (>=3.0), mobilesubstrate, libactivator (>=1.1.0), preferenceloader
Recommends: backgrounder
dev: ashikase
Sponsor: thebigboss.org <http://thebigboss.org>
Tag: purpose::extension
